* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.encabezado {
  height: 150x;
  z-index: 1;
}

.prelogo {
  background-color: #004072;
  height: 40px;
  width: 100%;
}

.nav_prelogo {
  display: flex;
}
.nav_prelogo ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav_prelogo li {
  list-style-type: none;
  color: white;
}

.logo {
  width: 285px;
  display: flex;
}

.navegador {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  justify-content: right;
}

.nav-link {
  color: #004072;
  border-right: 1px solid #004072;
  align-self: center;
}

.contenedor {
  display: inline-block;
  width: 100%;
}

h1 {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.486);
  font-size: 2em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contenedor h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  text-align: center;
}

h1.visible {
  opacity: 1;
}

.contenedor h3 {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
}

h3 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

h3.visible {
  opacity: 1;
}

.cuerpo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.desliza {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.desliza img {
  width: 100%;
  flex-shrink: 0;
}

.presentacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 350px;
  padding-right: 350px;
  height: 1000px;
}
.presentacion h4 {
  color: rgb(85, 85, 85);
}
.presentacion p {
  color: rgb(146, 144, 144);
  text-align: justify;
}

.tarjetas {
  display: flex;
}

.card {
  margin: 5px;
}

.servicios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
  gap: 10px; /* Espacio entre los elementos */
  width: 60%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  height: 130px;
  padding: 20px;
  text-align: center;
  /* Centra el contenido dentro del div */
}
.item a {
  text-decoration: none;
  color: black;
}
.item a:hover {
  color: red;
}

.contactar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5490196078);
}

.titulos_contactar {
  color: #494747;
  text-align: left;
  width: 50%;
}

.contactar_textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.contactar_textos p {
  color: white;
  width: 50%;
  text-align: justify;
}

.formulario {
  display: flex;
  padding-left: 20px;
  padding-top: 100px;
}

form {
  background-color: #b5b3b3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.pie {
  display: flex;
  width: 100%;
  background-color: black;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.rutas_footer {
  width: 50%;
}

.nav_footer {
  display: flex;
  flex-direction: column;
}

.items_footer {
  list-style-type: none;
}
.items_footer a {
  color: #494747;
  text-decoration-line: none;
}
.items_footer a:hover {
  color: red;
}

.info_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.info_footer p {
  color: #494747;
  margin-bottom: 0px;
}

.redes_footer {
  display: flex;
  justify-content: right;
  width: 30%;
}
.redes_footer a {
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.redes_footer {
  transition: color 0.3s ease;
  margin: 10px;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #1877F2;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.fa-linkedin:hover {
  color: #0077B5;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .contenedor h1 {
    font-size: 30px;
    top: 100px;
  }
  .contenedor h3 {
    font-size: 10px;
    top: 160px;
  }
  .presentacion {
    padding: 0px;
    height: 1600px;
  }
  .tarjetas {
    flex-direction: column;
  }
  .servicios {
    height: 1200px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .contactar {
    flex-direction: column;
    justify-content: center;
  }
  .contactar_textos {
    align-items: center;
  }
  .formulario {
    padding: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
