@charset "UTF-8";
* {
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
}

.encabezado {
  height: 150x;
  z-index: 1;
}

.prelogo {
  background-color: #004072;
  height: 40px;
  width: 100%;
}

.nav_prelogo {
  display: flex;
}
.nav_prelogo ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.nav_prelogo li {
  list-style-type: none;
  color: white;
}

.logo {
  width: 285px;
  display: flex;
}

.navegador {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-collapse {
  justify-content: right;
}

.nav-link {
  color: #004072;
  border-right: 1px solid #004072;
  align-self: center;
}

.logo {
  display: inline-block;
}

.contenedor {
  display: inline-block;
  width: 100%;
}

h1 {
  width: 70%;
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black; /* Sombra a la izquierda y arriba */
  font-size: 2em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.contenedor h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  text-align: center;
}

#subtitulo {
  text-shadow: 1px 1px 0px black, -1px 1px 0px black, 1px -1px 0px black, -1px -1px 0px black; /* Sombra a la izquierda y arriba */
}

h1.visible {
  opacity: 1;
}

.contenedor h3 {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
}

h3 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

h3.visible {
  opacity: 1;
}

.cuerpo {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.carrusel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.desliza {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.desliza img {
  width: 100%;
  flex-shrink: 0;
}

.presentacion {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 350px;
  padding-right: 350px;
  height: 1000px;
}
.presentacion h4 {
  color: rgb(85, 85, 85);
}
.presentacion p {
  color: rgb(146, 144, 144);
  text-align: justify;
}

.tarjetas {
  display: flex;
}

.card_personal {
  margin: 5px;
}

.servicios {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 100%;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual ancho */
  gap: 10px; /* Espacio entre los elementos */
  width: 60%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  height: 130px;
  padding: 20px;
  text-align: center;
  /* Centra el contenido dentro del div */
}
.item a {
  text-decoration: none;
  color: black;
}
.item a:hover {
  color: red;
}

.contactar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5490196078);
  padding-bottom: 100px;
}

.titulos_contactar {
  color: #494747;
  text-align: left;
  width: 50%;
}

.contactar_textos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.contactar_textos p {
  color: white;
  width: 50%;
  text-align: justify;
}

.formulario {
  display: flex;
  padding-left: 20px;
  padding-top: 100px;
}

form {
  background-color: #b5b3b3;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.cuerpo_servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
  width: 50%;
}
.card h3 {
  color: rgb(0, 0, 0);
  opacity: 100;
}
.card p {
  color: rgb(0, 0, 0);
}

.card:hover {
  transform: scale(1.05);
}

/* Estilos para la ventana modal */
.modal {
  display: none; /* Ocultar por defecto */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cabeza_contactos {
  padding-top: 20px;
  width: 100%;
  height: 80px;
  display: inline-block;
  align-items: center;
  text-align: center;
}
.cabeza_contactos h2 {
  color: rgb(88, 88, 88);
}
.cabeza_contactos h4 {
  color: gray;
}

.separador {
  display: flex;
  justify-content: center;
}

.main_contacto {
  background-image: url(../assets/fondocereal.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no repeat;
  padding-bottom: 100px;
}

.datos_contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telefono {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_somos {
  height: 500px;
  padding-top: 100px;
}

.tit_estudio {
  text-align: center;
}

.main_somos {
  height: 1000px;
}

.tit_quienes {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 300px;
  padding-right: 300px;
}
.tit_quienes p {
  text-align: justify;
}

.nosotros {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 4rem;
  color: #9e0000;
}

.tit_mision {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 300px;
  padding-right: 300px;
}
.tit_mision p {
  text-align: justify;
}

.tit_vision {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 300px;
  padding-right: 300px;
}
.tit_vision p {
  text-align: justify;
}

.pie {
  display: flex;
  width: 100%;
  background-color: black;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.rutas_footer {
  width: 50%;
}

.nav_footer {
  display: flex;
  flex-direction: column;
}

.items_footer {
  list-style-type: none;
}
.items_footer a {
  color: #494747;
  text-decoration-line: none;
}
.items_footer a:hover {
  color: red;
}

.info_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.info_footer p {
  color: #494747;
  margin-bottom: 0px;
}

.redes_footer {
  display: flex;
  justify-content: right;
  width: 30%;
}
.redes_footer a {
  margin: 10px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.redes_footer {
  transition: color 0.3s ease;
  margin: 10px;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #1877F2;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-whatsapp:hover {
  color: #25D366;
}

.fa-linkedin:hover {
  color: #0077B5;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  #navbarNavAltMarkup {
    width: 128px;
  }
  .nav_prelogo li {
    font-size: 11px;
  }
  .nav_prelogo ul {
    padding-left: 0;
  }
  .navbar-nav a {
    border-right: none;
    align-self: end;
  }
  .contenedor h1 {
    font-size: 30px;
    top: 100px;
  }
  .contenedor h3 {
    font-size: 10px;
    top: 160px;
  }
  .presentacion {
    padding: 0px;
    height: 1600px;
  }
  .tarjetas {
    flex-direction: column;
  }
  .servicios {
    height: 1200px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .contactar {
    flex-direction: column;
    justify-content: center;
  }
  .contactar_textos {
    align-items: center;
  }
  .formulario {
    padding: 0px;
  }
  .pie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .rutas_footer {
    width: 100%;
  }
  .info_footer {
    width: 100%;
  }
  .map_contenedor {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
  }
  .map_contenedor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .redes_footer {
    width: 100%;
    justify-content: center;
  }
  .lista_footer {
    padding-left: 0;
  }
  iframe {
    width: 50%;
  }
  .main_contacto {
    padding-top: 50px;
    flex-direction: column;
  }
  .main_somos {
    height: 1300px;
  }
  .tit_quienes {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tit_mision {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tit_vision {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 992px) {
  body {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  .nav_prelogo ul {
    padding-left: 0;
  }
  .navbar-nav a {
    border-right: none;
    align-self: end;
  }
  .contenedor h1 {
    font-size: 30px;
    top: 100px;
  }
  .contenedor h3 {
    font-size: 10px;
    top: 160px;
  }
  .presentacion {
    padding: 0px;
    height: 1600px;
  }
  .tarjetas {
    flex-direction: column;
  }
  .servicios {
    height: 1200px;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
  }
  .contactar {
    flex-direction: column;
    justify-content: center;
  }
  .contactar_textos {
    align-items: center;
  }
  .formulario {
    padding: 0px;
  }
  .pie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .rutas_footer {
    width: 100%;
  }
  .info_footer {
    width: 100%;
  }
  .map_contenedor {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
  }
  .map_contenedor iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .redes_footer {
    width: 100%;
    justify-content: center;
  }
  .lista_footer {
    padding-left: 0;
  }
  iframe {
    width: 50%;
  }
  .main_contacto {
    padding-top: 50px;
    flex-direction: column;
  }
  .tit_quienes {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tit_mision {
    padding-left: 50px;
    padding-right: 50px;
  }
  .tit_vision {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (aspect-ratio: 16/9) {
  body {
    padding-left: 5%;
    padding-right: 5%;
  }
  .contactar {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
